<#import "base.html" as b>

<@b.override "title">Gallery</@b.override>

<@b.override "styles">
<link rel="stylesheet" href="styles/album.css">
</@b.override>

<@b.override "main">
    <#if current??>
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Upload image</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <form method="post" action="/archinterest/gallery" enctype="multipart/form-data">
                <div class="mb-3">
                    <input class="form-control" type="file" name="image" id="image" accept=".jpg, .jpeg, .png">
                </div>
                <div class="mb-3">
                    <input class="btn btn-dark" type="submit" id="submit">
                </div>
            </form>
        </div>
    </section>
    <#else></#if>
<div class="album py-5 bg-light">

    <div class="container">
        <div class="row">
            <#list images as image>
            <div class="col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card mb-4 shadow-sm">
                     <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: Thumbnail" alt="img" src="${image.filePath}"><title>
                        Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        </img>
                    </div>
                </div>
            </div>
        </#list>
    </div>
</div>
</@b.override>

<@b.override "active">
    $('#nav-gallery').addClass('active');</@b.override>

<@b.template />